<form (ngSubmit)="saveProduct()" #productForm="ngForm" class="custom-form">
  <div class="p-fluid">
    <div class="p-field mb-2">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="selectedProduct.name"
        name="name"
        required
      />
    </div>
    <div class="p-field mb-2">
      <label for="quantityPerUnit">Quantity Per Unit</label>
      <p-dropdown
        [options]="quantityOptions"
        [(ngModel)]="selectedProduct.quantityPerUnitId"
        name="quantityPerUnit"
        required
      ></p-dropdown>
    </div>
    <div class="p-field mb-2">
      <label for="unitPrice">Unit Price</label>
      <p-inputNumber
        id="unitPrice"
        [(ngModel)]="selectedProduct.unitPrice"
        name="unitPrice"
        mode="currency"
        currency="USD"
        required
      ></p-inputNumber>
    </div>
    <div class="p-field mb-2">
      <label for="unitsInStock">Units In Stock</label>
      <p-inputNumber
        id="unitsInStock"
        [(ngModel)]="selectedProduct.unitsInStock"
        name="unitsInStock"
        required
      ></p-inputNumber>
    </div>
    <div class="p-field mb-2">
      <label for="unitsOnOrder">Units On Order</label>
      <p-inputNumber
        id="unitsOnOrder"
        [(ngModel)]="selectedProduct.unitsOnOrder"
        name="unitsOnOrder"
        required
      ></p-inputNumber>
    </div>
    <div class="p-field mb-2">
      <label for="reorderLevel">Reorder Level</label>
      <p-inputNumber
        id="reorderLevel"
        [(ngModel)]="selectedProduct.reorderLevel"
        name="reorderLevel"
        required
      ></p-inputNumber>
    </div>
    <div class="p-field mb-2">
      <label for="supplierId">Supplier</label>
      <p-dropdown
        [options]="suppliers"
        [(ngModel)]="selectedProduct.supplierId"
        optionLabel="name"
        optionValue="id"
        name="supplierId"
        required
      ></p-dropdown>
    </div>
  </div>
  <div class="p-dialog-footer mt-2 p-dialog-footer pe-0">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="cancel.emit()"
    ></button>
    <button
      pButton
      type="submit"
      label="Save"
      icon="pi pi-check"
      [disabled]="!productForm.form.valid"
    ></button>
  </div>
</form>
